# Google Analytics 4
NEXT_PUBLIC_GA_ID=G-XXXXXXXXXX

# Google AdSense
NEXT_PUBLIC_ADSENSE_ID=ca-pub-4859241862365215

# Telegram Bot
TELEGRAM_BOT_TOKEN=8600312575:AAGz6AsMaAgbm3Nqe16UQAxb8Q2tL3AfX7g
TELEGRAM_CHAT_ID=YOUR_CHAT_ID
